POSTGRES_USER=workoutapp
POSTGRES_PASSWORD=changeme
POSTGRES_DB=workoutapp
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@workoutapp.com
PGADMIN_DEFAULT_PASSWORD=changeme
PGADMIN_PORT=5050
RABBITMQ_USER=workoutapp
RABBITMQ_PASSWORD=changeme
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
BREVO_USERNAME=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
JWT_SECRET_KEY=changeme-generate-a-long-random-secret
API_PORT=5000
FRONTEND_PORT=4200